/*
 * ----------------------------
 * Common CSS
 * ----------------------------
 */

 .navbar{
  border-bottom:1px solid #FF6A00;
}

.menu-dropdown{
 background-color: #343a40;
 opacity: 0.9;
}


.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
background-image:none !important;
font-size: 20px;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
background-color:#FF6A00;
}

.menu-dropdown .dropdown-item{
 color: #fff;
}





/* Start side section */


.side{
 background-color: rgb(19, 20, 20);
 width: 250px;
 min-height: 663px;

}


.bgimg{
  position: relative;
  background: url("assets/img/res1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

 }



.bgimg .overlay{
 position: absolute;
 width: 100%;
 height: 100%;
 left: 0;
 top: 0;
 background-color: rgb(0, 0, 0, .8);
 z-index: 0;
}



/* @media (max-width: 320px) {

  .navbar {
    width: 473px;
   }

   .wrapper{
    min-height: 766px;
    width: 473px;
   }
 }



 @media (min-width: 1200px) {

  .navbar {
    width: 1519px
   }

   .wrapper{
      min-height: 672px;
      width: 1519px
   }
 } */











