.card{
  width: 240px;

}

.totprice
{
  position: absolute;
  padding: 10px;
  font-weight: bold;
  color: white;
  background-color: #FF6A00;
  font-size: 20px;
}

.to2{
  right: 0;
}


.fa-plus{
  background-color: #FF6A00;
  color: #fff;
  padding: 8px;
  border: 1px solid #e68908;
  cursor: pointer;
}

.fa-minus{
  background-color: #FF6A00;
  color: #fff;
  padding: 8px;
  border: 1px solid #e68908;
  cursor: pointer;
}


span{
  padding: 0px 50px 0px 50px;
  font-size: 26px;
  font-weight: bold;
}




button{
  /* width: 409px; */
  margin: 16px 0px -16px 0px;
  background-color: #FF6A00;
  color: #fff;
  padding: 0px 90px 0px 90px;
  border: 1px solid #e68908;
}


/* Start Check Out */
.check-out
{
  border-radius: 30px;
  background-color: white;
  padding: 19px;
  width: 291px;
  font-size: 21px;
  font-weight: bold;
  margin: 93px 170px;
  position: absolute;
  z-index: 0;
}

.check-out button{
  padding: 6px 60px 7px 60px;
}

.size
{
  background-color: crimson;
  padding: 8px;
  color: aliceblue;
  margin-bottom: 5px;
}
.totalprice
{
  margin-bottom: 20px;
  background-color: blueviolet;
  padding: 8px;
  color: aliceblue;
}

/* End Check Out */
