 <!-- ######## navbar ####### -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand mr-auto" href="#">Ishtar</a>

    <button class="navbar-toggler m-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav offset-md-2">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Menu
          </a>
          <ul class="dropdown-menu menu-dropdown" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Home</a></li>
            <li><a class="dropdown-item" href="#">Hamburger</a></li>
            <li><a class="dropdown-item" href="#">Cold Drink</a></li>
            <li><a class="dropdown-item" href="#">Hot Drink</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>

      <form class="form-inline ml-auto">
        <input type="text" class="form-control mr-2" placeholder="Search">
     </form>
    </div>

    <div class="cart-area">
      <a href="#">
         <div>
             <span>$19.22</span>
             <i class="fa fa-shopping-cart" aria-hidden="true"></i> 4

         </div>
      </a>
   </div>


  </div>
</nav>
<!-- ######## End navbar ####### -->





<!-- ######## Home ####### -->
<div class="container-fluid" >
<div class="row">
  <div class="col-lg-2 col-md-3 d-none d-md-block side">
    <a><img src="assets/img/ishtar2.png" style="width:100%"></a>

      <ul class="list">
          <li><a href="#"><i class="fas fa-home p-1"></i><span>Home</span></a></li>
          <li><a href="#"><i class="fas fa-hamburger p-1"></i><span>Hamburger</span></a></li>
          <li><a href="#"><i class="fas fa-cocktail p-1"></i><span>Cold Drink</span></a></li>
          <li><a href="#"><i class="fas fa-mug-hot p-1"></i><span>Hot Drink</span></a></li>
      </ul>

  </div>
  <div class="col-lg-10 col-md-9  image-fluid bgimg">
    <div class="overlay"></div>
      <div class="container">

         <div class="row">

            <div class="col-lg-3 col-md-4 mt-3 mb-3">

              <div class="card text-center text-white">

                  <a><img src="assets/img/hamburger.jpg" alt="Pizza-food" style="width:100%"></a>
                  <div class="card-body">
                     <a><h5 class="card-title">Pizza name</h5></a>
                     <p class="price">$9.99</p>
                     <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                     <button>Add to Cart</button>
                  </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 mt-3 mb-3">
              <div class="card text-center text-white">

                  <a><img src="assets/img/hamburger.jpg" alt="Pizza-food" style="width:100%"></a>
                  <div class="card-body">
                     <a><h5 class="card-title">Pizza name</h5></a>
                     <p class="price">$9.99</p>
                     <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                     <button>Add to Cart</button>
                  </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 mt-3 mb-3">
              <div class="card text-center text-white">

                  <a><img src="assets/img/hamburger.jpg" alt="Pizza-food" style="width:100%"></a>
                  <div class="card-body">
                     <a><h5 class="card-title">Pizza name</h5></a>
                     <p class="price">$9.99</p>
                     <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                     <button>Add to Cart</button>
                  </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 mt-3 mb-3">
              <div class="card text-center text-white">

                  <a><img src="assets/img/hamburger.jpg" alt="Pizza-food" style="width:100%"></a>
                  <div class="card-body">
                     <a><h5 class="card-title">Pizza name</h5></a>
                     <p class="price">$9.99</p>
                     <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                     <button>Add to Cart</button>
                  </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 mt-3 mb-3">
              <div class="card text-center text-white">

                  <a><img src="assets/img/hamburger.jpg" alt="Pizza-food" style="width:100%"></a>
                  <div class="card-body">
                     <a><h5 class="card-title">Pizza name</h5></a>
                     <p class="price">$9.99</p>
                     <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                     <button>Add to Cart</button>
                  </div>
              </div>
            </div>






          </div>
         </div>
      </div>
  </div>
</div>

<!-- ######## End Home ####### -->


<!-- ######## Footer ####### -->

<!-- ######## End Footer ####### -->



<router-outlet></router-outlet>
