.list{
  list-style: none;
  line-height: 60px;
  margin: 213px 0px 0px 13px;
  position: fixed;
 }

 .list ul li,i,span{
  color: #FF6A00;
 }

 .list a{
  text-decoration: none;

 }

 .list a:hover{
  font-size: 20px;
  text-decoration: none;;
  color: #FF6A00;
  cursor: pointer;
 }


li.active{
  border: none;
  width: 183px;
  background-color: #343a40;
}

