.card{
  background-color: #343a40;
  border: 1px solid black;
 }

 .card button{
  background-color: #FF6A00;
  border:1px solid #FF6A00;
  color: #fff;
 }

 /* start pagination */

 .pag
{
  padding-left: 30%;
  margin: 20px 20px;
}



.sel
{
  background-color: #e3e347;
  padding: 18px;
  width: 168px;
  margin-left: 622px;
  margin-top: -70px;
}

 /* end pagination */
