
<div class="container">
  <div class="row ">
    <div class="col-md-4 offset-md-3">
      <div class="card text-center text-white">
        <a><img src="{{order.image}}" style="width: 100%;" height="133"></a>
        <div class="card-body">
          <a><h5 class="card-title">{{order.orderName}}</h5></a>
          <p class="price">{{order.price | currency:'USD'}}</p>
          <p class="card-text">{{order.description}}</p>
          <i routerLink="/order" class="fas fa-undo backword"></i><button (click)="addToCart(order)">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
</div>
