 <!-- start login button -->
    <button routerLink="/login" *ngIf="!authenticatedUser()" class="btn btn-primary loginbtn">Login</button>
    <button (click)="logout()" *ngIf="authenticatedUser()" class="btn btn-danger logoutbtn">Logout</button>
 <!-- start login button -->

<a routerLink="/purchases">
  <div class="cart-area">
    <a href="#">
      <div>
          <span>{{orderPrice | currency:'USD'}}</span>
          <i class="fa fa-shopping-cart" aria-hidden="true"></i> {{orderSize}}

      </div>
    </a>
  </div>
</a>
